<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForumSearch</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/docs.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ForumSearch</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-xxl my-md-4 bd-layout">
        <aside class="bd-sidebar">                  
            <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Sites-checkbox">
                <ul class="list-unstyled mb-0 py-3 pt-md-1" name="category-ul">
                    @{
                        string buttonClass = "btn d-inline-flex align-items-center rounded";
                        string ariaExpanded = "true";
                        string divClass = "collapse show";
                    }
                    @for (int i = 0; i < Model.Categories.Count; i++)
                    {
                        <li class="mb-1">
                            <button class="@buttonClass" data-bs-toggle="collapse" data-bs-target="#@Model.Categories[i].CategoryName" aria-expanded=@ariaExpanded>
                                @Model.Categories[i].CategoryName
                            </button>

                            <div class="@divClass" id="@Model.Categories[i].CategoryName">
                                @foreach (var forum in @Model.Categories[i].ForumList)
                                {
                                    <ul class="list-unstyled" name="checkbox-list">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input site-checkbox" type="checkbox" value=@forum.Url id="@forum.Name">
                                                <label class="form-check-label" for="reddit">
                                                    @forum.Name
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </li>

                        if (i == 0)
                        {
                            buttonClass = "btn d-inline-flex align-items-center rounded collapsed";
                            ariaExpanded = "false";
                            divClass = "collapse";
                        }
                    }
                    <li class="my-3 mx-4 border-top"></li>
                    <li><a href="mailto:theuvproject21@gmail.com">Sugest a Forum!</a></li>
                </ul>
            </nav>
        </aside>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ForumSearch - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script async src="https://cse.google.com/cse.js?cx=103ef7c6232a24f82"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
